[submodule "Libraries/libspng"]
	path = Libraries/libspng
	url = https://github.com/randy408/libspng.git
[submodule "Libraries/zlib"]
	path = Libraries/zlib
	url = https://github.com/madler/zlib.git
[submodule "Libraries/freetype"]
	path = Libraries/freetype
	url = https://github.com/freetype/freetype.git
[submodule "Libraries/SDL"]
	path = Libraries/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Libraries/imgui"]
	path = Libraries/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Libraries/ImGuiFileDialog"]
	path = Libraries/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
